<!-- { "id": 24, "vevo": "Linkbridge", "nOsszeg": 141877, "fizHat": "2020-08-26", "kibocsajto": "Babbleset" } -->
<div *ngIf="(bill | async) as bill" class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <form #editForm="ngForm" (ngSubmit)="onUpdate(editForm)">
      <div class="form-group">
        <label for="">Vevő</label>
        <input name="vevo" [(ngModel)]="bill.vevo" type="text" class="form-control"
        pattern=".{5,}" required>
        <div class="error-message" [hidden]="editForm.controls.vevo?.valid || editForm.controls.vevo?.untouched">
          Legalább 5 karakter hosszú legyen a név.
        </div>
      </div>
      <div class="form-group">
        <label for="">Kibocsájtó</label>
        <input name="kibocsajto" [(ngModel)]="bill.kibocsajto" type="text" class="form-control"
          required pattern=".{5,}">
        <div class="error-message" [hidden]="editForm.controls.kibocsajto?.valid || editForm.controls.kibocsajto?.untouched">
          Legalább 5 karakter hosszú legyen a kibocsájtó neve.
        </div>
      </div>
      <div class="form-group">
        <label for="">N.Összeg</label>
        <input name="nOsszeg" [(ngModel)]="bill.nOsszeg" type="number" class="form-control"
          min="5000">
        <div class="error-message" [hidden]="editForm.controls.nOsszeg?.valid || editForm.controls.nOsszeg?.untouched">
          A minimum összeg 5000 Ft.
        </div>
      </div>
      <div class="form-group">
        <label for="">Fizetési Határidő</label>
        <input name="fizHat" [(ngModel)]="bill.fizHat" type="date" class="form-control"
          min="2020-06-24">
      </div>

      <div class="pull-right">
        <button [disabled]="!editForm.valid" type="submit" class="btn btn-primary mt-5">
          Mentés
        </button>
        <button (click)="onCancel()" class="btn btn-secondary mt-5 ml-2">
          Mégsem
        </button>
      </div>
    </form>
  </div>
</div>
