<div class="container">
  <div class="row">
    <div class="col">
      <h1>Számlázás</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Vevő</th>
            <th>Kibocsájtó</th>
            <th>Összeg</th>
            <th>Fiz.Hat</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of list">
            <td>{{ bill.szlaszam }}</td>
            <td>{{ bill.vevo }}</td>
            <td>{{ bill.kibocsajto }}</td>
            <td>{{ bill.nOsszeg }}</td>
            <td>{{ bill.fizHat }}</td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</div>
